
 input:focus, textarea:focus, select:focus{
    outline: none;
}

.main-app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.step-main {
    width:70vw;
    min-height:250px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.step-heading {
    font-size: 40px ;
    font-weight: 600;
    margin:0px;

}
.step-heading-light {
    font-size: 40px ;
    font-size: 34px;
    margin:0px;

}



.step-mini-heading {
    font-size: 26px;

}

.step-input {
    height: 40px;
    border-radius: 10px;
    font-size: 20px;
    width: 60vw;
    padding-left: 20px;
}

.step-input:focus {
    outline:none !important;

}

.step-main-inputdiv {
    width:70vw;
    min-height:350px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.buttons-cont {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}